# ===== محیط مجازی پایتون =====
venv/
.venv/
env/
.env/

# ===== فایل‌های محرمانه =====
.env

# ===== فایل‌های پایتون =====
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# ===== دیتابیس =====
db.sqlite3

# ===== فایل‌های استاتیک جمع‌آوری‌شده =====
staticfiles/

# ===== پوشهٔ آهنگ‌ها (اگر نمی‌خواهید روی گیت برود) =====
musics/

# ===== فایل‌های سیستمی =====
.DS_Store
Thumbs.db
*.log
*.pot
*.mo
*.po

# ===== محیط‌های توسعه =====
.vscode/
.idea/
*.swp
*.swo